{% extends "mysite/base.html" %}

{% block content %}
<h1>Посты пользователь - {{ user.username }}</h1>
<h3>
    {{ user.email }}
</h3><br><br>




{% for post in posts %}
<h2>{{ post.name }}</h2><p>Категория - {{ post.category.name }}</p><br>
{% if post.iamge %}
<img src="#" alt="#">
{% endif %}
<p>{{ post.description }}</p>

<p>Время публикации: {{ post.time_created }}</p>

<a href="{{ post.get_absolute_url }}"><button class="btn btn-outline-secondary">Подробнее</button></a>
<p>______________________________________________________</p>

{% endfor %}
{% endblock content %}