li{
    margin-top: 10px;
    list-style: none;
}

.bt-login{
    float: right;
    margin-right: 20px;
    background: rgb(43, 27, 49);
    padding: 0.5%;
    color: white;
    text-decoration: none;
}

.home{
    text-decoration: none;
}
