{% extends "mysite/base.html" %}

{% block content %}

{% if posts %}
{% for post in posts %}
<h2>{{ post.name }}</h2><p>Категория - {{ post.category.name }}</p><br>
{% if post.iamge %}
<img src="#" alt="#">
{% endif %}
<p>{{ post.description }}</p><br>

<p>Автор - {{ post.avtor.username }} </p>

<p>Время публикации: {{ post.time_created }}</p>

<a href="{{ post.get_absolute_url }}"><button class="btn btn-outline-secondary">Подробнее</button></a>
{% if post.avtor == request.user %}
<form action="{% url "posts:del_post" game_id=post.id %}" method='post'>
    {% csrf_token %}
    <a href="{% url "posts:del_post" game_id=post.id %}"><button class="btn btn-outline-secondary">Удалить</button></a>
</form>
{% endif %}
<p>-----------------------------------------------</p>

{% endfor %}
{% else %}
<h1>
    У вас нет опубликованных постов
</h1>
{% endif %}

{% endblock content %}